In [1]:
import numpy as np
import pandas as pd

from itertools import permutations
from tqdm import tqdm

pd.set_option('display.max_columns', 999)
pd.set_option('display.max_rows', 999)

In [2]:
def perference_score(row, pref_columns):
    return np.mean(row[pref_columns].values)

In [3]:
pref_columns = ['preferences_mom', 'preferences_dad', 'preferences_son',
                'preferences_daughter', 'preferences_grandma', 'preferences_grandpa',
                'preferences_woofer_the_dog']

preferences = pd.read_csv('data/preferences.csv')
preferences = preferences.fillna(3)
preferences = preferences.drop([0, 1])
preferences.loc[:, pref_columns] = preferences.loc[:, pref_columns].astype(np.float64)
preferences['Mean preferences value'] = preferences.apply(
    lambda row: perference_score(row, pref_columns), axis=1)

family_preferences = dict(zip(preferences['preference'], preferences['Mean preferences value']))

In [4]:
preferences

,preference,preferences_mom,preferences_dad,preferences_son,preferences_daughter,preferences_grandma,preferences_grandpa,preferences_woofer_the_dog,Mean preferences value
2,likes monuments,3,3,5,1,4,5,1,3.142857
3,likes hiking,5,2,5,4,2,5,5,4.000000
4,likes restaurants,4,5,4,4,5,3,1,3.714286
5,interested in history,4,4,5,2,4,5,1,3.571429
6,likes long journeys,4,2,5,4,1,4,1,3.000000
7,is brave,4,2,5,5,3,5,5,4.142857
8,likes cycling,5,2,5,4,2,5,5,4.000000
9,likes swimming,5,3,5,5,1,3,5,3.857143
10,likes crowds,3,1,3,5,1,3,1,2.428571
11,travels often,4,5,4,4,3,3,5,4.000000
12,likes paintings,3,4,3,5,5,2,1,3.285714
13,likes going to the theatre,3,4,2,5,5,2,1,3.142857
14,gets bored quickly,3,3,5,5,3,5,5,4.142857
15,likes heat,3,2,3,5,1,3,1,2.571429
16,likes concerts,5,5,3,4,5,3,1,3.714286
17,likes spending time in the nature,5,3,4,5,3,5,5,4.285714
18,likes big cities,4,3,4,5,5,3,1,3.571429
19,likes small towns,3,3,3,3,3,4,5,3.428571
20,enjoys sleeping in high-class hotels,4,5,3,3,5,3,1,3.428571
21,enjoys sleeping in hostels,4,3,4,5,1,2,5,3.428571
22,speaks English fluently,5,5,5,5,3,2,5,4.285714
23,looks for information about the cities on the ...,5,5,5,2,1,2,3,3.285714
24,uses the internet often,5,4,5,4,2,3,3,3.714286
25,always has a cell phone with him/her,5,4,5,3,2,2,3,3.428571
26,usually takes a taxi,4,5,3,3,5,3,1,3.428571
27,likes animals,3,4,5,5,3,5,5,4.285714
28,likes parks,5,3,5,5,4,5,5,4.571429
29,likes the sea,3,3,5,5,5,2,5,4.000000
30,would like to show his/hers hometown,3,3,3,3,5,4,5,3.714286
31,likes exploring non-touristy places,5,4,2,5,3,5,5,4.142857
32,likes mountains,5,3,3,4,3,5,5,4.000000

In [5]:
def score_city(row, family_preferences):
    return sum([family_preferences[k] * row.to_dict()[v] for k, v in MAPPING_CASTING.items()])

In [6]:
MAPPING_CASTING = {
    'likes monuments': 'Pomniki',
    'likes hiking': 'Wysokosc',
    'likes restaurants': 'Restauracje',
    'interested in history': 'Historia',
    'likes cycling': 'Rowery',
    'likes crowds': 'Tlum',
    'likes paintings': 'Sztuka',
    'likes going to the theatre': 'Teatr',
    'likes concerts': 'Imprezy',
    'likes spending time in the nature': 'Natura',
    'likes big cities': 'Wielkosc_miasta',
    'likes small towns': 'Male_miasta',
    'enjoys sleeping in high-class hotels': 'SuperHotele',
    'enjoys sleeping in hostels': 'Hostele', 
    'likes animals': 'Natura',
    'likes parks': 'Natura',
    'likes the sea': 'Morze', 
    'would like to show his/hers hometown': 'Miasto_rodzinne',
    'likes mountains': 'Wysokosc'
}

statystyki = pd.read_csv('data/statystyki.csv')
statystyki['Male_miasta'] = 1 - statystyki['Wielkosc_miasta']
statystyki['Score'] = statystyki.apply(lambda x: score_city(x, family_preferences), axis = 1)

In [7]:
encrypted_cities = pd.read_csv('data/Odszyfrowane_miasta.csv')
translation = dict(zip(encrypted_cities['city'], encrypted_cities['nazwa']))

distances = pd.read_csv('data/distances.csv')
DISTANCE_MATRIX = distances.drop(['city'], axis=1).fillna(0).astype(np.float64).values

name_mapping = distances['city'].to_dict()
NAME_MAPPING = {k: translation[v] for k, v in name_mapping.items()}
REVERSED_NAME_MAPPING = {v: k for k, v in name_mapping.items()}

score_mapping = dict(zip(statystyki['city'], statystyki['Score']))
SCORE_MAPPING = {REVERSED_NAME_MAPPING[k]: v for k, v in score_mapping.items()}

In [8]:
class Route:
    
    def __init__(self, all_cities):
        self.all_cities = all_cities     
    
    def compute_total_distance(self):
        N = len(self.all_cities) 
        self.total_distance_ = 0
        
        if N >= 2:
            for i in range(N - 1):
                self.total_distance_ += self.get_distance(self.all_cities[i], self.all_cities[i+1])
            
            # Z ostatniego miasta do pierwszego
            self.total_distance_ += self.get_distance(self.all_cities[-1], self.all_cities[0])
    
    
    @staticmethod
    def get_distance(i,j):
        return DISTANCE_MATRIX[i, j]
    
    def get_route_score(self):
        return sum([SCORE_MAPPING[city] for city in self.all_cities])
    
    def get_route_city_names(self):
        return [NAME_MAPPING[city] for city in self.all_cities]
        
    def __str__(self):
        return str(self.all_cities)
    
    def __repr__(self):
        return str(self.all_cities)

In [9]:
all_possible_routes = []

for repeat in range(2, 5):
    for cities_list in tqdm(permutations(range(66), r = repeat)):
        
        route = Route(cities_list)
        route.compute_total_distance()
        
        if route.total_distance_ <= 1500:
            all_possible_routes.append((route, route.get_route_score(), route.get_route_city_names(), route.total_distance_))

4290it [00:00, 215432.45it/s]
274560it [00:01, 167581.63it/s]
17297280it [01:37, 177819.67it/s]

In [10]:
score = pd.DataFrame(all_possible_routes)

In [11]:
score['unique route'] = score[2].apply(lambda row: ' '.join(sorted(row)))

In [12]:
unique_ids = score.groupby('unique route')[3].idxmin()

In [13]:
score.loc[unique_ids.values].sort_values(1, ascending=False).head(50)

,0,1,2,3,unique route
2882921,"(16, 46, 29, 48)",121.071258,"[krakow, warszawa, poznan, wroclaw]",1060.0,krakow poznan warszawa wroclaw
1414294,"(7, 29, 16, 46)",120.060904,"[gdansk, poznan, krakow, warszawa]",1426.0,gdansk krakow poznan warszawa
1442465,"(7, 46, 16, 48)",118.706794,"[gdansk, warszawa, krakow, wroclaw]",1411.0,gdansk krakow warszawa wroclaw
566757,"(2, 16, 46, 29)",116.794121,"[bielsko-biala, krakow, warszawa, poznan]",1105.0,bielsko-biala krakow poznan warszawa
2840121,"(16, 29, 22, 46)",116.742920,"[krakow, poznan, lodz, warszawa]",1100.0,krakow lodz poznan warszawa
566773,"(2, 16, 46, 48)",115.440010,"[bielsko-biala, krakow, warszawa, wroclaw]",975.0,bielsko-biala krakow warszawa wroclaw
2882541,"(16, 46, 22, 48)",115.388810,"[krakow, warszawa, lodz, wroclaw]",945.0,krakow lodz warszawa wroclaw
544087,"(2, 7, 46, 16)",114.429656,"[bielsko-biala, gdansk, warszawa, krakow]",1336.0,bielsko-biala gdansk krakow warszawa
1397344,"(7, 22, 16, 46)",114.378456,"[gdansk, lodz, krakow, warszawa]",1271.0,gdansk krakow lodz warszawa
427734,"(1, 16, 29, 46)",113.380943,"[bialystok, krakow, poznan, warszawa]",1380.0,bialystok krakow poznan warszawa
1753404,"(10, 16, 46, 29)",112.890676,"[jelenia gora, krakow, warszawa, poznan]",1255.0,jelenia gora krakow poznan warszawa
2883425,"(16, 46, 40, 48)",112.262621,"[krakow, warszawa, szczecin, wroclaw]",1470.0,krakow szczecin warszawa wroclaw
428295,"(1, 16, 48, 46)",112.026832,"[bialystok, krakow, wroclaw, warszawa]",1250.0,bialystok krakow warszawa wroclaw
2112519,"(12, 16, 46, 29)",111.980670,"[katowice, krakow, warszawa, poznan]",1050.0,katowice krakow poznan warszawa
1753416,"(10, 16, 46, 48)",111.536565,"[jelenia gora, krakow, warszawa, wroclaw]",1175.0,jelenia gora krakow warszawa wroclaw
2815413,"(16, 20, 46, 29)",111.348789,"[krakow, lublin, warszawa, poznan]",1170.0,krakow lublin poznan warszawa
2841251,"(16, 29, 52, 46)",111.283755,"[krakow, poznan, sopot, warszawa]",1455.0,krakow poznan sopot warszawa
2840891,"(16, 29, 44, 46)",111.190054,"[krakow, poznan, torun, warszawa]",1105.0,krakow poznan torun warszawa
566750,"(2, 16, 46, 22)",111.111672,"[bielsko-biala, krakow, warszawa, lodz]",795.0,bielsko-biala krakow lodz warszawa
2312072,"(13, 16, 29, 46)",111.031542,"[kielce, krakow, poznan, warszawa]",1055.0,kielce krakow poznan warszawa
414384,"(1, 7, 46, 16)",111.016478,"[bialystok, gdansk, warszawa, krakow]",1496.0,bialystok gdansk krakow warszawa
1415403,"(7, 29, 48, 46)",110.774477,"[gdansk, poznan, wroclaw, warszawa]",1186.0,gdansk poznan warszawa wroclaw
1534340,"(8, 29, 16, 46)",110.763829,"[gdynia, poznan, krakow, warszawa]",1491.0,gdynia krakow poznan warszawa
2112537,"(12, 16, 46, 48)",110.626559,"[katowice, krakow, warszawa, wroclaw]",925.0,katowice krakow warszawa wroclaw
2815428,"(16, 20, 46, 48)",109.994678,"[krakow, lublin, warszawa, wroclaw]",1040.0,krakow lublin warszawa wroclaw
2883578,"(16, 46, 44, 48)",109.835944,"[krakow, warszawa, torun, wroclaw]",1080.0,krakow torun warszawa wroclaw
2828585,"(16, 25, 29, 46)",109.805371,"[krakow, opole, poznan, warszawa]",1060.0,krakow opole poznan warszawa
2313055,"(13, 16, 48, 46)",109.677432,"[kielce, krakow, wroclaw, warszawa]",925.0,kielce krakow warszawa wroclaw
2840977,"(16, 29, 46, 34)",109.635932,"[krakow, poznan, warszawa, rzeszow]",1225.0,krakow poznan rzeszow warszawa
1378168,"(7, 12, 16, 46)",109.616205,"[gdansk, katowice, krakow, warszawa]",1256.0,gdansk katowice krakow warszawa
789548,"(3, 29, 16, 46)",109.064354,"[bydgoszcz, poznan, krakow, warszawa]",1140.0,bydgoszcz krakow poznan warszawa
1387495,"(7, 16, 20, 46)",108.984324,"[gdansk, krakow, lublin, warszawa]",1376.0,gdansk krakow lublin warszawa
1442467,"(7, 46, 16, 52)",108.919290,"[gdansk, warszawa, krakow, sopot]",1253.8,gdansk krakow sopot warszawa
1387984,"(7, 16, 46, 44)",108.825590,"[gdansk, krakow, warszawa, torun]",1310.0,gdansk krakow torun warszawa
1387410,"(7, 16, 13, 46)",108.667078,"[gdansk, krakow, kielce, warszawa]",1261.0,gdansk kielce krakow warszawa
1287443,"(6, 29, 16, 46)",108.565788,"[elblag, poznan, krakow, warszawa]",1380.0,elblag krakow poznan warszawa
2829542,"(16, 25, 48, 46)",108.451260,"[krakow, opole, wroclaw, warszawa]",930.0,krakow opole warszawa wroclaw
1369233,"(7, 8, 16, 46)",108.399364,"[gdansk, gdynia, krakow, warszawa]",1302.0,gdansk gdynia krakow warszawa
2882932,"(16, 46, 29, 61)",108.323026,"[krakow, warszawa, poznan, sosnowiec]",1085.3,krakow poznan sosnowiec warszawa
2856775,"(16, 34, 46, 48)",108.281822,"[krakow, rzeszow, warszawa, wroclaw]",1095.0,krakow rzeszow warszawa wroclaw
1069100,"(5, 16, 46, 29)",108.241415,"[czestochowa, krakow, warszawa, poznan]",1050.0,czestochowa krakow poznan warszawa
2806950,"(16, 17, 46, 29)",108.086614,"[krakow, krosno, warszawa, poznan]",1276.0,krakow krosno poznan warszawa
2882927,"(16, 46, 29, 56)",107.851516,"[krakow, warszawa, poznan, gliwice]",1081.0,gliwice krakow poznan warszawa
427053,"(1, 16, 2, 46)",107.749694,"[bialystok, krakow, bielsko-biala, warszawa]",1120.0,bialystok bielsko-biala krakow warszawa
2880020,"(16, 45, 29, 46)",107.711906,"[krakow, walbrzych, poznan, warszawa]",1197.0,krakow poznan walbrzych warszawa
834349,"(3, 46, 16, 48)",107.710243,"[bydgoszcz, warszawa, krakow, wroclaw]",1115.0,bydgoszcz krakow warszawa wroclaw
439957,"(1, 22, 16, 46)",107.698494,"[bialystok, lodz, krakow, warszawa]",995.0,bialystok krakow lodz warszawa
644193,"(2, 46, 29, 48)",107.507693,"[bielsko-biala, warszawa, poznan, wroclaw]",1105.0,bielsko-biala poznan warszawa wroclaw
3885362,"(22, 46, 29, 48)",107.456493,"[lodz, warszawa, poznan, wroclaw]",835.0,lodz poznan warszawa wroclaw
1403917,"(7, 25, 16, 46)",107.440906,"[gdansk, opole, krakow, warszawa]",1356.0,gdansk krakow opole warszawa

In [14]:
score_miasta = pd.Series({NAME_MAPPING[k]: v for k, v in SCORE_MAPPING.items()})

In [15]:
score_miasta.sort_values(ascending=False)

warszawa                41.010225
krakow                  32.426592
poznan                  24.494276
wroclaw                 23.140165
gdansk                  22.129811
bielsko-biala           18.863027
lodz                    18.811827
szczecin                15.685638
bialystok               15.449849
jelenia gora            14.959583
katowice                14.049576
lublin                  13.417696
sopot                   13.352661
torun                   13.258961
kielce                  13.100449
gdynia                  12.832735
opole                   11.874278
rzeszow                 11.704839
bydgoszcz               11.133261
elblag                  10.634694
sosnowiec               10.391932
czestochowa             10.310321
krosno                  10.155520
gliwice                  9.920423
walbrzych                9.780813
swinoujscie              9.256250
tarnow                   9.018023
olsztyn                  8.797938
dabrowa gornicza         8.608170
radom                    8.285964
zielona gora             8.132952
plock                    7.935600
nowy sacz                7.911612
bytom                    7.777853
tychy                    7.766830
rybnik                   7.752753
chorzow                  7.746813
zamosc                   7.737097
kalisz                   7.393013
jaworzno                 7.065844
legnica                  6.774195
piekary slaskie          6.722824
siemianowice slaskie     6.721501
zory                     6.659730
suwalki                  6.648942
tarnobrzeg               6.396605
swietochlowice           6.341189
leszno                   6.275508
biala podlaska           6.251144
myslowice                6.230522
chelm                    6.160962
koszalin                 5.996805
siedlce                  5.932074
zabrze                   5.900417
skierniewice             5.811739
gorzow wielkopolski      5.759142
wloclawek                5.547370
konin                    5.479503
lomza                    5.320257
grudziadz\n              5.181270
slupsk                   5.165221
ostroleka                4.803700
jastrzebie-zdroj         4.579153
ruda slaska              4.541380
przemysl                 4.459010
piotrkow trybunalski     4.182564
dtype: float64